@import "reset.scss";
$header: #fff;
$main: #83a7a5;
$add: #0f5f5c;
$section: #eef1ec;
$accent: #6fb048;
@mixin getHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
@mixin getHeaderMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
}
@mixin getMenuItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 0.7;
}
@mixin getBlockTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $add;
}
@mixin getBlockContent {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    padding-top: 0;
}
@mixin getTextUnit {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $main;
    line-height: 2;
}

// font-family: 'Staatliches', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Merriweather', serif;

/* main styles */

body {
    width: 100%;
    font-size: 14px;
    color: $main;
}

.wrapper {
	padding: 0 5%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background-color: $main;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    line-height: 1.8;
    &:hover {
        background-color: $accent;
    }
    &:active {
        background-color: #3b7519;
    }
}

.flexible {
    max-width: 100%;
}

/* header */

.header-overlay {
    height: 100vh;
    position: relative;
    color: $header;
    &__lg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2d6e70;
        opacity: 0.9;
    }
    &__sm {
        height: 20vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, #000, transparent);
        opacity: 0.5;
    }
}

.header-overlay_home {
    background: url('../assets/img/header-bg-main.jpg') center no-repeat;
    background-size: cover;
}

.header-overlay_about {
    background: url('../assets/img/header-bg-add.jpg') center no-repeat;
    background-size: cover;
}

.header {
    position: relative; 
    &__nav {
        @include getHeaderMobile;
        border-bottom: 1px solid #649293;
    }
    &__content {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 2rem;
        }
        .subtitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.3;
            padding: 1rem 0;
        }
        .header-btn {
            width: 180px;
            height: 50px;
        }
    }
    &__content-about {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .title-about {
            font-family: 'Roboto', sans-serif;
            font-weight: 300; 
            font-size: 2.5rem;
            line-height: 1.2;
            padding-bottom: 1.5rem;
        }
        .header-about-btn {
            width: 230px;
            height: 50px;
        }
    }
}

/* nav*/

.left-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        font-family: 'Staatliches', cursive;
        font-size: 2rem;
        line-height: 0.7;
        display: block;
    }
    .phone {
        display: flex;
        align-items: center;
        &__number {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.9rem;
        }
        &__icon {
            width: 17px;
            height: 17px;
            background: url('../assets/img/phone-main.svg') center no-repeat;
            background-size: cover;
        }
    }
}

.right-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
        &__btn {
            width: 30px;
            height: 20px;
            background: url('../assets/img/menu.svg') center center no-repeat;
            background-size: cover;
            &:hover {
                cursor: pointer;
            }
        }
        &__menu {
            display: none;
            position: absolute;
            top: 17vh;
            left: 0;
            width: 100%;
            background-color: #223130;
            text-align: center;
            li {
                padding: 1rem 0;
                .menu-item {
                    @include getMenuItem;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        &__menu-lg {
            display: none;
            .menu-item-lg {
                display: block;
                @include getMenuItem;
                margin-right: 0.7rem;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .nav-btn {
        width: 110px;
        height: 35px;
    }
}

/* section */

.section-overlay_grey {
    background-color: $section;
}

.section {
    padding: 2rem 0;
    &__heading {
        text-align: center;
        margin: 0 auto;
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.6rem;
        color: $add;
        padding-bottom: 0.8rem;
    }
    &__underline {
        width: 65px;
        height: 1px;
        background-color: $accent;
        margin: 0 auto 0.8rem;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.3;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__content {
        padding: 2rem 0;
        .section__subtitle {
            @include getBlockContent;
        }
    }
    &__points {
        @include getBlockContent;
        line-height: 2;
        padding: 0.5rem 0; 
        .points-item {
            display: flex;
        }
        .points-icon-wrap {
            width: 25px;
            height: 25px;
            border: 1px solid #86a9a7;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .points-icon {
            width: 25px;
            height: 15px;
            background: url('../assets/img/check-mark.svg') center no-repeat;
            background-size: cover;
        }
        .points-text {
            padding-left: 0.5rem;
        }
    }
}

/* features */

.features {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
    @for $i from 1 through 3 {
        &__item-#{$i} {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 335px;
            margin-bottom: 1rem;
        }
    }
    @for $i from 1 through 3 {
        &__icon-#{$i} {
            width: 50px;
            height: 50px;
            background: url('../assets/img/feature-main-#{$i}.svg') center no-repeat;
            background-size: cover;
        }
    }
    &__title {
        @include getBlockTitle; 
        font-size: 1.1rem;
        padding: 1rem 0;  
    }
    &__content {
        @include getBlockContent;
    }
}

.separate {
    &__vertical {
        height: 90px;
        width: 2px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }
    &__horizontal {
        height: 2px;
        width: 90px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }
}

.feature-add {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @for $i from 1 through 4 {
        &__item-#{$i} {
            max-width: 490px;
            margin-bottom: 1rem;
        }
    }
    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    @for $i from 1 through 4 {
        &__icon-#{$i} {
            width: 30px;
            height: 30px;
            background: url('../assets/img/feature-add-#{$i}.svg') center no-repeat;
            background-size: cover;
            margin-right: 1rem;
        }
    }
    &__title {
        @include getBlockTitle;
        font-size: 1.1rem;
        padding: 1rem 0;
    }
    &__content {
        @include getBlockContent;
    }
}

/* iphone */

.section.section-iphone {
    padding-bottom: 0;
}

.iphone-image {
    display: block;
}

/* testimonials */

.section {
    &__block_testimonials {
        padding: 1rem 0;
        text-align: center;
        .testimonials-image {
            width: 280px;
            height: 280px;
            background: url('../assets/img/author-quote.png') center no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin: 0 auto 1.5rem;
        }
        .testimonials-quote {
            .section-quote {
                font-family: 'Merriweather', serif;
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.8; 
                padding-bottom: 1.5rem;
            }
            .author {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: $accent;
                line-height: 1.5;
            }
            .position {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }
}

/* pricing */

#pricing-tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
    padding-top: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    .tabs-item {
        cursor: pointer;
        padding-bottom: 0.5rem;
    }
}

.active {
    border-bottom: 1.5px solid $accent;
    font-weight: 500;
}

.pricing {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @for $i from 1 through 3 {
        &__item-#{$i} {
            padding: 1.5rem;
            border: 1px solid #c1d3d2;
            text-align: center;
            width: 255px;
            margin-bottom: 1rem;
            background-color: #fff;
        }
    }
    .item-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        color: $accent;
        text-transform: uppercase;
    }
    .item-price {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        color: $add;
        padding-top: 1rem;
    }
    .item-period {
        @include getBlockTitle;
        font-size: 1rem;
    }
    .item-text {
        padding: 1rem 0;
        @include getTextUnit;
    }
    .pricing-btn {
        width: 140px;
        height: 40px;
    }
}

.section__title_pricing {
    font-size: 1.3rem;
}
.section__points_pricing {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .points-block {
        width: 280px;
    }
}
.section__title_help {
    color: $accent;
}
.section__image {
    width: 40px;
    height: 40px;
    background: url('../assets/img/help.svg') center no-repeat;
    background-size: cover;
    margin: 0 auto 0.8rem;
}
.section__mail {
    @include getBlockTitle;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.2rem;
}

/* download */

.download-overlay {
    background: url('../assets/img/download-bg.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.95;
    }
    &__mask_grey {
        background-color: $section;
    }
    &__mask_green {
        background-color: $accent;
    }
}

.section__block_download {
    justify-content: space-between;
    position: relative;
}

.section__title_download {
    font-size: 1.5rem;
}

.section__subtitle.section__subtitle_download {
    padding-top: 0;
}

.download-btn {
    width: 285px;
    height: 45px;
    margin-top: 1rem;
}

/* footer */

.footer {
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem 0 1rem;
        border-bottom: 1px solid $section;
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        color: $add;
        text-transform: capitalize;
    }
    &__text {
        padding: 1rem 0;
        .footer-link {
            display: block;
            text-transform: capitalize;
            &:hover {
                color: $accent;
            }
        } 
        .text-unit-accent {
            line-height: 1.5;
        }
    }
    .footer-logo {
        font-family: 'Staatliches', cursive;
        font-size: 1.5rem;
        display: block;
        color: $add;
    }
    .newsletter-form {
        width: 240px;
        min-height: 35px;
        background-color: $section;
        border-radius: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .newsletter-mail {
        border: none;
        outline: none;
        background-color: transparent;
        width: 180px;
        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-weight: 400; 
            font-size: 0.9rem;
            color: $main;  
        }
        color: $main;
    }
    .newsletter-btn {
        border: none;
        outline: none;
        width: 20px;
        height: 20px;
        background: url('../assets/img/input-icon.svg') no-repeat;
        background-size: cover;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
    }
    &__copy {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    .social-item {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @for $i from 1 to 5 {
        .social-item-#{$i} {
            margin-right: 0.8rem;
        }
    }
    .social-item-1 {
        background-color: #55acee;
    }
    .social-item-2 {
        background-color: #3b5998;
    }
    .social-item-3 {
        background-color: #3f729b;
    }
    .social-item-4 {
        background-color: #ea4c89;
    }
    .social-item-5 {
        background-color: #333333;
    }
    @for $i from 1 through 5 {
        .social-icon-#{$i} {
            display: block;
            background: url('../assets/img/social-icon-#{$i}.svg') center no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.text-unit {
    @include getTextUnit;
    font-size: 0.9rem; 
}

.text-unit-flex {
    display: flex;
}
.unit-left {
    margin-right: 0.5rem;
}
.unit-mail {
    color: $add;
}

/* page about */

.section__team {
    padding: 2rem 0;
}

.team-item {
    margin-bottom: 1.5rem;
    width: 300px;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: $add;
    padding-top: 1rem;
}

.team-position {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.5rem;
}

@for $i from 1 through 3 {
    .team-image-#{$i} {
        width: 300px;
        height: 180px;
        background: url('../assets/img/team-member-#{$i}.jpg') center no-repeat;
        background-size: cover;
    }
}

.download-overlay_about {
    .section {
        &__left {
            color: #fff;
        }
        &__title {
            color: #fff;
        }
    }
    .download-btn {
        &:hover {
            background-color: #49732f;
        }
    }
}

/* pages Pricing, Contact */

.header__nav.header__nav_add {
    border-bottom: 1px solid #b8ccc8;
    .left-part {
        .logo {
           color: $add; 
        }
        .phone {
            &__number {
                color: $main;
            }
            &__icon {
                width: 17px;
                height: 17px;
                background: url('../assets/img/phone-add.svg') center no-repeat;
                background-size: cover;
            }
        }
    }
    .right-part {
        .nav {
            &__btn {
                width: 30px;
                height: 20px;
                background: url('../assets/img/menu-add.svg') center center no-repeat;
                background-size: cover;
            }
        }
        a.menu-item-lg {
            color: $main !important; 
        } 
    }
}

.header__nav.header__nav_add.header__nav_contact {
    border-bottom: none;
}

.section-add {
    .section__title_add {
        font-size: 1.6rem;
    }
}

.footnote {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.google-map {
    width: 100%;
}

.contact-info {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-form {
    margin-bottom: 1.5rem;
}

.contact-input, .contact-textarea {
    width: 100%;
    max-width: 510px;
    outline: none;
    border: 1px solid #c1d3d2;
    margin-bottom: 1rem;
    padding: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $main;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.contact-textarea {
    resize: none;
}

.contact-input::placeholder, .contact-textarea::placeholder {
    color: $main;
}

.headquarter {
    max-width: 345px;
    padding: 1.3rem;
    border: 2px dashed #c1d3d2;
    .text-unit {
        margin-bottom: 1rem;
    }
    .unit-right, .unit-mail {
        line-height: 1;
    }
}

.headquarter-title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $add;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.contact-btn {
    width: 190px;
    height: 40px;
}

@for $i from 1 through 3 {
    .unit-icon-#{$i} {
        background: url('../assets/img/contact-icon-#{$i}.svg') center no-repeat;
        width: 15px;
        height: 15px;
        background-size: cover;
    }
}

/* media queries */

@media all and (min-width: 481px) {
    .header {
        &__nav {
            @include getHeader;
        }
    }
    .left-part {
        .logo {
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid #649293;
        }
    }
    .header__nav_add {
        .left-part {
            .logo {
                border-right: 1px solid #b8ccc8;
            }
        }
    }
    .right-part {
        .nav {
            &__btn {
                margin-right: 1.5rem;
            }
        }
    }
    .section__points_pricing {
        .points-block {
            width: 300px;
        }
    }
    .footer__bottom {
        justify-content: space-between;
    }
    .footer__copy {
        margin-bottom: 0;
    }
}

@media all and (min-width: 576px) {
    .section {
        .iphone-image {
            width: 80%;
        }
    }
    .contact-form {
        width: 55%;
    }

    .headquarter {
        width: 40%;
    }
}

@media all and (min-width: 768px) {
    .header {
        &__content {
            width: 50%;
            max-width: 550px;
        }
    }
    .right-part {
       .nav {
            &__btn {
                display: none;
            }
            &__menu-lg {
                display: flex;
            }
        } 
    }
    .section {
        padding: 3rem 0;
        &__heading {
            width: 60%;
        }
        &__block {
            justify-content: space-between;
        }
        &__content {
            width: 50%;
            max-width: 550px;
        }
        .iphone-image {
            margin-top: 1rem;
            align-self: flex-end;
            order: -1;
            width: 40%;
        }
    }
    .section {
        &__block_team {
            justify-content: space-around;
        }
    }
    .section__block.section__block_testimonials {
        .testimonials-quote {
            width: 55%;
            max-width: 550px;
            order: -1;
            text-align: left;
        }
        .testimonials-image {
            margin: 0;
            width: 300px;
            height: 300px;
        }
    }
    .features {
        padding: 3rem 0;
    }
    .feature-add {
        padding: 3rem 0;
    }
    .section-overlay_map {
        background: url('../assets/img/map-world.png') center right no-repeat;
        background-size: 50%;
    }
    .section__points_pricing {
        .points-block {
            width: 320px;
        }
    }
    .section__block.section__block_download {
        .section__left {
            width: 50%;
        }
    } 
    .download-btn {
        margin-top: 0;
    }
    .footer {
        &__top {
            padding: 3rem 0 1rem;
            justify-content: space-between;
        }
    }
    .section__team {
        padding: 3rem 0;
    }
    .contact-info {
        padding: 3rem 0;
    }
}

@media all and (min-width: 992px) {
    .right-part {
        .nav {
            &__menu-lg {
                .menu-item-lg {
                    margin-right: 2rem;
                }
            }
        }
    }
    .section__block.section__block_download {
        .section__left {
            width: 60%;
        }
    }
    .footer__item {
        width: 23%;
    }
    #pricing-tabs {
        width: 60%;
        margin: 0 auto;
    }
}

@media all and (min-width: 1200px) {
    .section {
        &__points {
            .points-item {
                align-items: center;
            }
            .points-icon {
                width: 15px;
                height: 10px;
                background: url('../assets/img/check-mark.svg') center no-repeat;
                background-size: cover;
            }
        }
    }
    .iphone-image {
        max-width: 500px;
    }
    .section__block.section__block_testimonials {
        .testimonials-image {
            width: 400px;
            height: 400px;
        }
    }
    .section__points_pricing {
        justify-content: space-between;
        .points-block {
            width: 350px;
        }
    }
}