.section
    .section__block.section__block_download
        .section__left
            .section__title.section__title_download Do You Like Wapik? Download it Now
            .section__subtitle.section__subtitle_download Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.  
        .section__right
            button(type="button").download-btn download now! - FREE forever
