.features
    .features__item-1
        .features__icon-1 
        .features__title Ionicons
        .features__content Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem.
    .features__item-2
        .features__icon-2
        .features__title Creative Design
        .features__content Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    .features__item-3
        .features__icon-3
        .features__title Photoshop and Sketch
        .features__content Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna.