.footer
    .wrapper
        .footer__top
            .footer__item
                a(href="#index.html").footer-logo wapik
                .footer__text
                    .text-unit.text-unit-flex
                        .unit-left @: 
                        .unit-mail hi@wapik.com
                    .text-unit.text-unit-flex 
                        .unit-left p: 
                        .unit-right +62 202 555 0117
                    .text-unit.text-unit-flex 
                        .unit-left a: 
                        .unit-right 610 Overlook Circle Suite 323 Kalamazoo, MI 49009
            .footer__item
                .footer__title company
                .footer__text 
                    a(href="#").text-unit.footer-link home
                    a(href="#").text-unit.footer-link about us
                    a(href="#").text-unit.footer-link pricing
                    a(href="#").text-unit.footer-link contact us
            .footer__item
                .footer__title others
                .footer__text 
                    a(href="#").text-unit.footer-link Help &amp; Support
                    a(href="#").text-unit.footer-link Privacy Policy
                    a(href="#").text-unit.footer-link Terms
                    a(href="#").text-unit.footer-link Sitemap
            .footer__item
                .footer__title Newsletter
                .footer__text
                    .text-unit.text-unit-accent Subscribe to our newsletter and get all the cool news
                form
                    .newsletter-form 
                        input(type="email", name="mail", placeholder="Enter Email").newsletter-mail
                        input(type="submit", value="").newsletter-btn      
        .footer__bottom
            .footer__copy All rights reserved 2015.
            .footer__social
                .social-item.social-item-1
                    a(href="#").social-icon-1
                .social-item.social-item-2
                    a(href="#").social-icon-2
                .social-item.social-item-3
                    a(href="#").social-icon-3
                .social-item.social-item-4
                    a(href="#").social-icon-4
                .social-item.social-item-5
                    a(href="#").social-icon-5

