.left-part
    a(href="index.html").logo wapik
    .phone
        .phone__icon
        .phone__number +62 202 555 0117
.right-part
    .nav
        .nav__btn
        .nav__menu
            ul
                li
                    a(href="index.html").menu-item home
                li
                    a(href="about.html").menu-item about us
                li
                    a(href="pricing.html").menu-item pricing
                li
                    a(href="contact.html").menu-item contact us
        .nav__menu-lg
            a(href="index.html").menu-item-lg home
            a(href="about.html").menu-item-lg about us
            a(href="pricing.html").menu-item-lg pricing
            a(href="contact.html").menu-item-lg contact us
    button(type="button").nav-btn get started
        