#pricing-tabs
    .tabs-item.active(onclick="change1()") Full Price
    .tabs-item(onclick="change2()") With Discount
    .tabs-item(onclick="change3()") Limited Offer
.pricing
    .pricing__item-1
        .item-title basic
        .item-price#price-1 $199
        .item-period /month
        .item-text
            .text-unit Justo Fringilla   
            .text-unit Mollis Sit Nullam
            .text-unit Ultricies Purus Amet
            .text-unit Cras Inceptos
        button(type="button").pricing-btn select plan
    .pricing__item-2
        .item-title plus
        .item-price#price-2 $399
        .item-period /month
        .item-text
            .text-unit Justo Fringilla   
            .text-unit Mollis Sit Nullam
            .text-unit Ultricies Purus Amet
            .text-unit Cras Inceptos
        button(type="button").pricing-btn select plan
    .pricing__item-3
        .item-title premium
        .item-price#price-3 $699
        .item-period /month
        .item-text
            .text-unit Justo Fringilla   
            .text-unit Mollis Sit Nullam
            .text-unit Ultricies Purus Amet
            .text-unit Cras Inceptos
        button(type="button").pricing-btn select plan