.section__heading
    .section__title.section__title_pricing.section__title_add Included with all Plans
    .section__underline
.section__points.section__points_pricing
    .points-block
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Maecenas faucibus mollis interdum
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Cras justo odio, dapibus ac facilisis
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Fringilla Mattis
    .points-block
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Vestibulum id ligula porta felis euismod
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Duis mollis, est non commodo luctus
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Integer posuere
    .points-block
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Nulla vitae elit libero, a pharetra augue
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Curabitur blandit tempus porttitor
        .points-item
            .points-icon-wrap
                .points-icon
            .points-text Nullam quis risus eget urna mollis
.section__heading
    .section__image 
    .section__title.section__title_help Need Help?
    .section__underline
    .section__subtitle Contact our Customer Support that is always ready to help you with any possible questions, problems or information.
.section__mail support@wapik.com