doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=0")
        title= "About us"
        link(rel="stylesheet", href="./styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500|Staatliches", rel="stylesheet")
    body
        .header-overlay.header-overlay_about
            .header-overlay__lg
            .header-overlay__sm
            .wrapper
                .header
                    .header__nav
                        include ./components/nav.pug
                    .header__content-about
                        .title-about Cras justo odio, dapibus ac facilisis in egestas eget quam
                        button(type="button").header-about-btn Start Your Free Trial
        .section-overlay 
            .wrapper
                .section
                    .section__heading
                        .section__title About Us
                        .section__underline
                        .section__subtitle Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
                    include ./components/features.pug
        .section-overlay.section-overlay_grey 
            .wrapper
                .section
                    .section__heading
                        .section__title Meet Our Team
                        .section__underline
                        .section__subtitle Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    .section__team
                        .section__block.section__block_team
                            .team-item
                                .team-image-1
                                .team-name Joyce Hudson
                                .team-position Founder &amp; Designer
                            .team-item
                                .team-image-2
                                .team-name Angela Campbell
                                .team-position Project Manager
                            .team-item
                                .team-image-3
                                .team-name James Walker
                                .team-position Developer
        .download-overlay.download-overlay_about
            .download-overlay__mask.download-overlay__mask_green 
            .wrapper
                include ./components/download.pug 
        include ./components/footer.pug                            
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="./js/script.js")