doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=0")
        title= "Home"
        link(rel="stylesheet", href="./styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500|Staatliches", rel="stylesheet")
    body
        .section-overlay 
            .wrapper
                .header
                    .header__nav.header__nav_add.header__nav_contact
                        include ./components/nav.pug
        iframe(id="map", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.727753659258!2d37.574409215673!3d55.76323138055608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a319a6b68df%3A0xdc688507fe9ff595!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0LfQvtC-0L_QsNGA0Lo!5e0!3m2!1sru!2sby!4v1544205371174",
                width="600", height="450", frameborder="0", style="border:0", allowfullscreen).google-map
        .section-overlay
            .wrapper
                .section
                    .section__heading
                        .section__title Get In Touch With Us
                        .section__underline
                        .section__subtitle We are here to help. Want to learn more about our services? Please get in touch, we'd love to hear from you!
                    .contact-info
                        form.contact-form 
                            input(type="text", name="name", placeholder="Name").contact-input
                            input(type="email", name="mail", placeholder="Email").contact-input
                            input(type="tel", name="phone", placeholder="Phone").contact-input
                            textarea(name="message", rows="5", placeholder="Message").contact-textarea
                            button(type="button").contact-btn send message
                        .headquarter 
                            .headquarter-title headquarter
                            .text-unit.text-unit-flex
                                .unit-left.unit-icon-1
                                .unit-right 610 Overlook Circle Suite 323 Kalamazoo, MI 49009
                            .text-unit.text-unit-flex
                                .unit-left.unit-icon-2
                                .unit-right +62 202 555 0117
                            .text-unit.text-unit-flex
                                .unit-left.unit-icon-3
                                .unit-mail hi@wapik.com
        .download-overlay
            .download-overlay__mask.download-overlay__mask_grey 
            .wrapper
                include ./components/download.pug 
        include ./components/footer.pug 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="./js/script.js")
