doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=0")
        title= "Home"
        link(rel="stylesheet", href="./styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500|Staatliches", rel="stylesheet")
    body
        .header-overlay.header-overlay_home
            .header-overlay__lg
            .header-overlay__sm
            .wrapper
                .header
                    .header__nav
                        include ./components/nav.pug
                    .header__content
                        .title Welcome to Wapik
                        .subtitle Wapik is multipurpose template, with modern and smart design. Wapik is perfect template for you!
                        button(type="button").header-btn learn more
        .section-overlay 
            .wrapper
                .section
                    .section__heading
                        .section__title Best of our features
                        .section__underline
                        .section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    include ./components/features.pug
                    .separate 
                        .separate__vertical
                        .separate__horizontal
                    .feature-add
                        .feature-add__item-1
                            .feature-add__head
                                .feature-add__icon-1
                                .feature-add__title Cross Browser Compatibility
                            .feature-add__content Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.     
                        .feature-add__item-2
                            .feature-add__head
                                .feature-add__icon-2
                                .feature-add__title Creative Idea
                            .feature-add__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.   
                        .feature-add__item-3
                            .feature-add__head
                                .feature-add__icon-3
                                .feature-add__title Pixel Perfect
                            .feature-add__content Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.   
                        .feature-add__item-4
                            .feature-add__head
                                .feature-add__icon-4
                                .feature-add__title Free Forever and Ever
                            .feature-add__content Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.
        .section-overlay.section-overlay_grey 
            .wrapper
                .section.section-iphone
                    .section__heading
                        .section__title Looking for the perfect template to use?
                        .section__underline
                        .section__subtitle Donec id elit non mi porta gravida at eget metus.
                    .section__block
                        .section__content
                            .section__title Responsive Ready
                            .section__subtitle Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. 
                            .section__points
                                .points-item
                                    .points-icon-wrap
                                        .points-icon
                                    .points-text Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                                .points-item
                                    .points-icon-wrap
                                        .points-icon
                                    .points-text Donec id elit non mi porta gravida at eget metus.
                        img(src="./assets/img/iphone-hand.png", alt="iphone").flexible.iphone-image  
        .section-overlay 
            .wrapper
                .section
                    .section__block.section__block_testimonials
                        .testimonials-image
                        .testimonials-quote
                            blockquote.section-quote This theme is beautiful, elegant and easy to customize. I’ve been able to build an amazing site in just a minute. Thank you very much for creating this impressive template!
                            .author Valeria Boltneva
                            .position Director of Acme.Inc
        .section-overlay.section-overlay_grey
            .section-overlay_map
                .wrapper
                    .section 
                        .section__content
                            .section__title Built with High Attention to Details
                            .section__subtitle Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus
        .section-overlay
            .wrapper
                .section
                    .section__heading
                        .section__title Pricing &amp; Plan
                        .section__underline
                        .section__subtitle Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Donec id elit non mi porta gravida at eget metus.
                    include ./components/pricing-top.pug
                    include ./components/pricing-bottom.pug  
        .download-overlay
            .download-overlay__mask.download-overlay__mask_grey 
            .wrapper
                include ./components/download.pug 
        include ./components/footer.pug                            
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="./js/script.js")
            
    