doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=0")
        title= "Home"
        link(rel="stylesheet", href="./styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500|Staatliches", rel="stylesheet")
    body
        .section-overlay.section-overlay_grey 
            .wrapper
                .header
                    .header__nav.header__nav_add
                        include ./components/nav.pug
        .section-overlay.section-overlay_grey 
            .wrapper
                .section
                    .section__heading
                        .section__title Get Started with Wapik Today All Plans include a 30-Day Trial Period
                        .section__subtitle Cras mattis consectetur purus sit amet fermentum.
                    include ./components/pricing-top.pug
                    .footnote Limited Time Offer. All plans are FREE 14 days!
        .section-overlay.section-add 
            .wrapper
                .section
                    include ./components/pricing-bottom.pug 
        .download-overlay
            .download-overlay__mask.download-overlay__mask_grey 
            .wrapper
                include ./components/download.pug 
        include ./components/footer.pug                            
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="./js/script.js")
